.display {
    padding:10px;
    background-color: beige;
    border:2px solid burlywood;
    margin:10px;
}

hr {
    border-color: burlywood;
    border-width: 3px;
}

form{
    margin: 5px;
    input{
        padding-left:10px;
        padding-bottom:5px;
        padding-top: 5px;
        border-radius: 5rem;
    }

    label{
        font-weight:bold;
    }

    button {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        border-left:3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        box-shadow: 0px 3px gray;
        color:white;
        font-weight: bold;
        padding: 10px;
        border-radius: 3rem;
    }
    button:hover{
        background: rgb(26, 40, 107);
        background: radial-gradient(circle, rgba(26, 40, 107, 1) 0%, rgba(118, 35, 52, 1) 100%);
    }

    .delete-button{
        background: rgb(251, 63, 63);
        background: radial-gradient(circle, rgba(251, 63, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);
        border-left:3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        box-shadow: 0px 3px gray;
        color:white;
        font-weight: bold;
        padding: 10px;
        border-radius: 3rem;
    
    }
}

        .delete-button {
            background: red;
            border-left: 3px solid black;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
            box-shadow: 0px 3px gray;
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 3rem;
    
        }

.action-box{

    .delete-button {
            background: red;
            border-left: 3px solid black;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
            box-shadow: 0px 3px gray;
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 3rem;
    
        }
    background-color: lightgray;
    border: 3px solid black;
    margin-bottom:10px;
    h2{
        font-size:1.5rem;
        font-weight:bold;
        padding: 10px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}